/* Figma: https://www.figma.com/design/Hdgwo69Dym9vVsxbuPbl0h/Mobile-Restaurant-Menu?node-id=0-1&p=f&t=bM3GTP0c4hjBe03v-0 */
/* =========================
   1. CSS RESET
   ========================= */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   2. ROOT VARIABLES
   ========================= */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #000000;
  --font-main: "Smythe", system-ui;
  --fw: 400;
}

/* =========================
   3. GLOBAL STYLES
   ========================= */
body {
  font-family: var(--font-main);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  font-weight: var(--fw);
}

header {
  color: #ffffff;
  background-image: url("/burger.png");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  padding: 0 0 1em 2em;
}

/* =========================
   4. TYPOGRAPHY
   ========================= */
h1 {
  font-weight: var(--fw);
}

p {
  margin-bottom: 0.3em;
}

/* =========================
   5. LAYOUT HELPERS
   ========================= */
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1.6em;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  border-bottom: #d2d2d2 2px solid;
}

.main-menu {
  width: 85%;
  margin: 0 auto;
}

.item-price {
  font-weight: 600;
}

.item-description {
  color: #8b8b8b;
  font-size: 0.8em;
}

.item-emoji {
  font-size: 3em;
  text-align: center;
  margin: 0;
}

.add-button {
  color: #3c3c3c;
  background-color: #ffffff;
  border: #dedede 2px solid;
  border-radius: 50%;
  padding: 0.5em;
  height: 3em;
  width: 3em;
  font-size: 1em;
}

/* =========================
   6. BUTTONS
   ========================= */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.9;
}

/* =========================
   7. IMAGES
   ========================= */
img {
  max-width: 100%;
  display: block;
}

/* =========================
   8. LINKS
   ========================= */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
