/* Figma: https://www.figma.com/design/Hdgwo69Dym9vVsxbuPbl0h/Mobile-Restaurant-Menu?node-id=0-1&p=f&t=bM3GTP0c4hjBe03v-0 */
/* =========================
   1. CSS RESET
   ========================= */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   2. ROOT VARIABLES
   ========================= */
:root {
  --font-main: "Smythe", system-ui;
  --font-weight-normal: 400;
  --font-size-small: 0.8rem;
  --font-size-large: 3rem;
  --primary-color: #007bff;
  --text-color: #000000;
  --color-white: #ffffff;
  --color-border: #d2d2d2;
  --color-text-muted: #8b8b8b;
  --color-button: #3c3c3c;
  --color-border-2: #3c3c3c;
  --color-button-border: #dedede;
  --order-margin: 0.4em;
  --color-remove: #bbbbbb;
  --color-bg-green: #16db99;
}

/* =========================
   3. GLOBAL STYLES
   ========================= */
body {
  font-family: var(--font-main);
  background-color: var(--color-white);
  color: var(--text-color);
  line-height: 1.6;
}

header {
  color: var(--color-white);
  background-image: url("/burger.png");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  padding: 0 0 1em 2em;
}

/* =========================
   4. TYPOGRAPHY
   ========================= */
h1 {
  font-weight: var(--font-weight-normal);
}

p {
  margin-bottom: 0.3em;
}

/* =========================
   5. LAYOUT HELPERS
   ========================= */
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1.6em;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  border-bottom: var(--color-border) 2px solid;
}

.main-page {
  width: 85%;
  margin: 0 auto;
}

.item-price {
  font-weight: 600;
}

.item-description {
  color: var(--color-text-muted);
  font-size: var(--font-size-small);
}

.item-emoji {
  font-size: var(--font-size-large);
  text-align: center;
  margin: 0;
}

.checkout {
  text-align: center;
  display: none;
}

.y-axis-margin {
  margin: var(--order-margin) 0;
}

.ordered-items {
  display: flex;
  flex-direction: column;
}

.ordered-items h3 {
  font-weight: var(--font-weight-normal);
}

.order-list {
  border-bottom: 2px solid var(--color-border-2);
}

.order-list-flex {
  display: flex;
  justify-content: space-between;
}

.order-flex {
  display: flex;
  justify-content: space-between;
  gap: 0.4em;
  align-items: center;
}

.green-btn {
  margin: 0.7em 0 var(--order-margin) 0;
  background-color: var(--color-bg-green);
  border: none;
  color: var(--color-white);
  padding: 1em 0;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  border-radius: 0.1em;
  cursor: pointer;
}

.remove {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color-remove);
  font-size: var(--font-size-small);
}

.remove:hover {
  text-decoration: underline;
  cursor: pointer;
}

.checkout-payment-modal {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 30em;
  height: 27em;
  padding: 1em;
  background-color: var(--color-white);
  box-shadow: 0 0 200px #0000009f;
  display: none;
}

.checkout-payment-modal > div {
  display: flex;
  justify-content: space-between;
}

.checkout-payment {
  display: flex;
  flex-direction: column;
}

.form-input {
  border-radius: 0.1em;
  margin: 0.7em 0 var(--order-margin) 0;
  font-size: 1rem;
  padding: 1em 0 1em 0.5em;
  border: 2px solid #757575;
}

/* =========================
   6. BUTTONS
   ========================= */

.btn {
  color: var(--color-button);
  background-color: var(--color-white);
  border: var(--color-button-border) 2px solid;
  border-radius: 50%;
  padding: 0.5em;
  height: 3em;
  width: 3em;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}

.btn:active {
  background-color: var(--color-button);
  color: var(--color-white);
}

/* =========================
   7. IMAGES
   ========================= */
img {
  max-width: 100%;
  display: block;
}

/* =========================
   8. LINKS
   ========================= */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
